body{
    background-color: rgba(151, 148, 148, 0.89);
}

.manual{
    width: 1000px;    
    background-color: #c2c2c2f3;
    box-shadow: 5px 10px 8px rgba(65, 65, 65, 0.89);
    margin: auto;
    border-radius: 10px;    
}

.text{
    text-align: center;
    margin-top: 45px;
}

h2{
    margin-left: 25px;    
}

p{
    margin-left: 10px;
}

