<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <%- include('partials/head.ejs')%>
    
</head>
<body>
    <h1> Página Inicial </h1>

    <%- include('partials/navbar.ejs') %>


    
    <%- include('partials/foot.ejs')%>
</body>
</html>