<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <%- include('partials/head.ejs')%>
    
</head>
<body>
    <h1> pagina encontrada </h1>


    
    <%- include('partials/foot.ejs')%>
</body>
</html>